In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("GSAF5.csv", encoding = "ISO-8859-1")
display(df.head())
print(df.shape)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

(5992, 24)

In [3]:
#First, let's take a look at null values

null_cols = df.isnull().sum()
display(null_cols[null_cols > 0])
print(df.columns)
print("\nAs we can see, the two last columns are completely empty and should be removed.\n")
print("Columns age, time and species are c.50% empty so we will ignore them\n")

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

As we can see, the two last columns are completely empty and should be removed.

Columns age, time and species are c.50% empty so we will ignore them

In [4]:
drop_cols = list(null_cols[null_cols > 3500].index)
df = df.drop(drop_cols, axis=1)

print(df.dtypes)
print("\n1) Date cannot be analyzed because it contains different types of inputs.")
print("2) It seems Case number and href are duplicated, we can drop these columns.\n")

drop_Case = ["Case Number.1", "Case Number.2", "href"]
df = df.drop(drop_Case, axis=1)

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

1) Date cannot be analyzed because it contains different types of inputs.
3) It seems Case number and href are duplicated, we can drop these columns.

In [5]:
col_analysis = ["Year", "Country", "Case Number", "Activity", "Injury", "Fatal (Y/N)"]
df = df.loc[:,col_analysis]
display(df.head())

,Year,Country,Case Number,Activity,Injury,Fatal (Y/N)
0,2016,USA,2016.09.18.c,Surfing,Minor injury to thigh,N
1,2016,USA,2016.09.18.b,Surfing,Lacerations to hands,N
2,2016,USA,2016.09.18.a,Surfing,Lacerations to lower leg,N
3,2016,AUSTRALIA,2016.09.17,Surfing,Struck by fin on chest & leg,N
4,2016,AUSTRALIA,2016.09.15,Surfing,No injury: Knocked off board by shark,N

In [6]:
#We will analyze these columns to further clean the data in which we are interested

# 1) Analyzing Year column

print("Showing unique values for Year column\n")
display(df["Year"].unique())

    # Action: we will drop all values for years before 1800 as they don't seem to be reliable

df = df[df["Year"] >= 1800]
df["Year"].unique()

Showing unique values for Year column

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800, 1791, 1788, 1787, 1785, 1779, 1776, 1771, 1767, 1764,
       1758, 1749, 1755, 1748, 1742, 1738, 1733, 1721, 1703, 1700, 1642,
       1638, 1637, 1617, 1595, 1580, 1555, 1554, 1543,  500,   77,    5,
          0])

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800])

In [7]:
 # 2) Analyzing Country column
    
    # Action: we will check cases by country and show only values for the main countries.
    # The rest will be classified as "Other" in a separated dataframe

df_by_country = df.groupby('Country').Country.count().sort_values(ascending = False)
perc_by_country = round((df_by_country / df_by_country.sum() * 100), 1)
df_by_country = pd.DataFrame({"Cases by country": df_by_country, "% Over total": perc_by_country})
df_by_country.reset_index(inplace=True)
df_by_country.loc[df_by_country['Cases by country'] < 25, ['Country']] = 'OTHER'
df_by_country = df_by_country.groupby(['Country'])["% Over total", "Cases by country"].sum()
df_by_country.sort_values(by=["% Over total"], inplace= True, ascending = False)
display(df_by_country)

    # Let's update the original DataFrame with "Other" values in non-significant countries

list1 = df_by_country.index.tolist()
list2 = []

for i in range(len(df.index)):
    if df.loc[i,"Country"] in list1:
        list2.append(df.loc[i,"Country"])
    else:
        list2.append("OTHER")

df["Country"] = list2

display(df)
print(df.Country.unique())

                  % Over total  Cases by country
Country
USA                       36.2              2096
AUSTRALIA                 21.7              1260
OTHER                     11.5               729
SOUTH AFRICA               9.6               557
PAPUA NEW GUINEA           2.2               129
NEW ZEALAND                2.1               124
BRAZIL                     1.8               102
BAHAMAS                    1.6                95
MEXICO                     1.4                80
ITALY                      1.2                67
FIJI                       1.0                59
PHILIPPINES                1.0                59
REUNION                    0.9                55
NEW CALEDONIA              0.9                51
CUBA                       0.7                40
SPAIN                      0.7                38
MOZAMBIQUE                 0.7                42
CROATIA                    0.6                34
JAPAN                      0.6                32
INDIA                      0.6                32
EGYPT                      0.6                36
PANAMA                     0.5                29
SOLOMON ISLANDS            0.5                27
IRAN                       0.4                25

,Year,Country,Case Number,Activity,Injury,Fatal (Y/N)
0,2016,USA,2016.09.18.c,Surfing,Minor injury to thigh,N
1,2016,USA,2016.09.18.b,Surfing,Lacerations to hands,N
2,2016,USA,2016.09.18.a,Surfing,Lacerations to lower leg,N
3,2016,AUSTRALIA,2016.09.17,Surfing,Struck by fin on chest & leg,N
4,2016,AUSTRALIA,2016.09.15,Surfing,No injury: Knocked off board by shark,N
5,2016,AUSTRALIA,2016.09.15.R,Fishing,Shark rammed boat. No injury to occupant,N
6,2016,USA,2016.09.11,Wading,Minor injury to arm,N
7,2016,USA,2016.09.07,Swimming,Severe lacerations to shoulder & forearm,N
8,2016,NEW CALEDONIA,2016.09.06,Kite surfing,FATAL,Y
9,2016,USA,2016.09.05.b,Boogie boarding,Lacerations & punctures to lower right leg,N
10,2016,AUSTRALIA,2016.09.05.a,Surfing,"No inury, board broken in half by shark",N
11,2016,USA,2016.09.04,Body boarding,Foot bitten,N
12,2016,USA,2016.09.01,Spearfishing,Two toes broken & lacerated,N
13,2016,USA,2016.08.29.b,Surfing,Lacerations to right foot,N
14,2016,USA,2016.08.29.a,Surfing,Minor injury to ankle,N
15,2016,REUNION,2016.08.27,Surfing,"Right arm severed, ankle severely bitten",N
16,2016,USA,2016.08.25,Wading,Minor injury to ankle,N
17,2016,BAHAMAS,2016.08.07,Snorkeling,Lacerations to left leg,N
18,2016,USA,2016.08.06,SUP Foil boarding,"No inury, shark & board collided",N
19,2016,USA,2016.08.04,Surfing,Big toe bitten,N
20,2016,SPAIN,2016.07.29,Swimming,Lacerations to right hand,N
21,2016,OTHER,2016.07.28.R,Swimming,Lacerations to leg,N
22,2016,AUSTRALIA,2016.07.28,Kayaking,"No injury, shark nudged kayak repeatedly",N
23,2016,USA,2016.07.27,Lobstering,Laceration to left forearm PROVOKED INCIDENT,N
24,2016,AUSTRALIA,2016.07.26,Surfing,"No injury. Leg rope severed, knocked off board...",N
25,2016,JAPAN,2016.07.24,Surfing,Lacerations to left leg,N
26,2016,AUSTRALIA,2016.07.23.b,Surfing,Calf bumped but no injury,N
27,2016,BAHAMAS,2016.07.23.a,Spearfishing,Lacerations to face and right leg,N
28,2016,AUSTRALIA,2016.07.20,Fishing,Laceration to left calf from hooked shark PROV...,N
29,2016,USA,2016.07.17,Fishing in Alabama Deep Fishing Rodeo,"No injury, shark bit trolling motor",N
...,...,...,...,...,...,...
5803,1830,INDIA,1830.07.02.R,Washing a dog,FATAL,Y
5804,1830,INDIA,1830.04.30,Bathing,FATAL,Y
5805,1829,OTHER,1829.07.03.R,NaN,Both hands severed,N
5806,1829,OTHER,1829.00.00,Wreck of the schooner Driver,FATAL x 2,Y
5807,1828,OTHER,1828.09.28,"British ship, Britannia, was loading lumber. ...","Left arm severed 2.5"" from elbow, groin, abdom...",N
5808,1828,USA,1828.00.00,Surfing,FATAL,Y
5809,1827,OTHER,1827.06.00.b,Swimming,The boy's foot was bitten,N
5810,1827,OTHER,1827.06.00.a,Swimming,Davis' leg was severed,N
5811,1827,OTHER,1827.01.11.R,Jumped overboard,FATAL,Y
5812,1827,EGYPT,1827.00.00,NaN,Remains of the men were recovered from a +17-f...,Y
5813,1826,BRAZIL,1826.12.00,NaN,Leg severed,N
5814,1826,OTHER,1826.11.00,Bathing,FATAL,Y
5815,1826,CUBA,1826.08.28,HBM Magpie foundered in a squall,FATAL,Y
5816,1825,AUSTRALIA,1825.00.00.b,Swimming,FATAL,Y
5817,1825,AUSTRALIA,1825.00.00,NaN,"Arms severed, but he survived",N
5818,1822,OTHER,1822.04.15,NaN,FATAL,Y
5819,1819,SPAIN,1819.07.08.R,NaN,No injury / No attack,N
5820,1818,OTHER,1818.05.22.R,NaN,Probable drowning,NaN
5821,1817,USA,1817.06.24,Swimming,FATAL,Y
5822,1817,INDIA,1817.06.15,Swimming,FATAL,Y
5823,1817,OTHER,1817.05.11,Swimming,FATAL,Y
5824,1817,OTHER,1817.02.22,Conch diver,Abdomen bitten,N
5825,1816,USA,1816.09.03.R,Swimming,FATAL,Y
5826,1812,OTHER,1812.07.00,Swimming,Both legs injured,N
5827,1811,OTHER,1811.03.01,Fell overboard,FATAL,Y
5828,1807,AUSTRALIA,1807.01.12,NaN,Survived,N
5829,1805,USA,1805.09.00,NaN,human remains (male) found in sharkÂ’s gut,Y
5830,1804,AUSTRALIA,1804.02.26.R,NaN,No injury to occupants,N
5831,1803,AUSTRALIA,1803.03.00,NaN,Shark knocked him down & tore clothing of the ...,N
5832,1800,OTHER,1800.00.00,a corsair's boat was overturned,"FATAL, all onboard were killed by sharks",Y

['USA' 'AUSTRALIA' 'NEW CALEDONIA' 'REUNION' 'BAHAMAS' 'SPAIN' 'OTHER'
 'JAPAN' 'SOUTH AFRICA' 'EGYPT' 'NEW ZEALAND' 'BRAZIL' 'MOZAMBIQUE' 'FIJI'
 'ITALY' 'MEXICO' 'PAPUA NEW GUINEA' 'PHILIPPINES' 'CROATIA'
 'SOLOMON ISLANDS' 'PANAMA' 'CUBA' 'INDIA' 'IRAN']

In [8]:
# 3) Analyzing Activity column

    # First, we will rename fields in the main DataFrame with following criteria:
        # a) If contains swimming, rename to Swimming
        # b) If contains diving, rename to Diving
        # c) If contains surf, rename to Surfing
        # d) If contains fish, rename to Fishing

df.Activity = df.Activity.str.replace("(.+)?[sS]urf(.+)?", "Surfing")
df.Activity = df.Activity.str.replace("(.+)?[sS]wim(.+)?", "Swimming")
df.Activity = df.Activity.str.replace("(.+)?[dD]iv(.+)?", "Diving")
df.Activity = df.Activity.str.replace("(.+)?[fF]ish(.+)?", "Fishing")

    # Then, we will re-classify activities with less than 10 ocurrences as "Other"
df_by_activity = df.groupby("Activity").Activity.count().sort_values(ascending = False)
df_by_activity = pd.DataFrame({"Occurrences by Activity": df_by_activity})
df_by_activity.reset_index(inplace=True)
df_by_activity.loc[df_by_activity['Occurrences by Activity'] < 10, ['Activity']] = 'Other'
df_by_activity = pd.DataFrame(df_by_activity.groupby(['Activity'])["Occurrences by Activity"].sum().sort_values(ascending = False))
display(df_by_activity)

    
    # Many occurrences are under "OTHER" category, which implies discarding many cases in the analysis by activity.
    # Nevertheless, we will analyze the remaining accidents following this criteria.

    # Now it's time to rename the original DataFrame

list1 = df_by_activity.index.tolist()
list2 = []

for i in range(len(df.index)):
    if df.loc[i,"Activity"] in list1:
        list2.append(df.loc[i,"Activity"])
    else:
        list2.append("Other")

df["Activity"] = list2

display(df)

                 Occurrences by Activity
Activity
Surfing                             1182
Fishing                             1063
Swimming                            1017
Other                                863
Diving                               523
Bathing                              147
Wading                               141
Standing                              95
Snorkeling                            76
Body boarding                         54
Treading water                        32
Boogie boarding                       28
Kayaking                              28
Fell overboard                        21
Boogie Boarding                       16
Walking                               15
Floating                              12
Rowing                                12
Canoeing                              11

,Year,Country,Case Number,Activity,Injury,Fatal (Y/N)
0,2016,USA,2016.09.18.c,Surfing,Minor injury to thigh,N
1,2016,USA,2016.09.18.b,Surfing,Lacerations to hands,N
2,2016,USA,2016.09.18.a,Surfing,Lacerations to lower leg,N
3,2016,AUSTRALIA,2016.09.17,Surfing,Struck by fin on chest & leg,N
4,2016,AUSTRALIA,2016.09.15,Surfing,No injury: Knocked off board by shark,N
5,2016,AUSTRALIA,2016.09.15.R,Fishing,Shark rammed boat. No injury to occupant,N
6,2016,USA,2016.09.11,Wading,Minor injury to arm,N
7,2016,USA,2016.09.07,Swimming,Severe lacerations to shoulder & forearm,N
8,2016,NEW CALEDONIA,2016.09.06,Surfing,FATAL,Y
9,2016,USA,2016.09.05.b,Boogie boarding,Lacerations & punctures to lower right leg,N
10,2016,AUSTRALIA,2016.09.05.a,Surfing,"No inury, board broken in half by shark",N
11,2016,USA,2016.09.04,Body boarding,Foot bitten,N
12,2016,USA,2016.09.01,Fishing,Two toes broken & lacerated,N
13,2016,USA,2016.08.29.b,Surfing,Lacerations to right foot,N
14,2016,USA,2016.08.29.a,Surfing,Minor injury to ankle,N
15,2016,REUNION,2016.08.27,Surfing,"Right arm severed, ankle severely bitten",N
16,2016,USA,2016.08.25,Wading,Minor injury to ankle,N
17,2016,BAHAMAS,2016.08.07,Snorkeling,Lacerations to left leg,N
18,2016,USA,2016.08.06,Other,"No inury, shark & board collided",N
19,2016,USA,2016.08.04,Surfing,Big toe bitten,N
20,2016,SPAIN,2016.07.29,Swimming,Lacerations to right hand,N
21,2016,OTHER,2016.07.28.R,Swimming,Lacerations to leg,N
22,2016,AUSTRALIA,2016.07.28,Kayaking,"No injury, shark nudged kayak repeatedly",N
23,2016,USA,2016.07.27,Other,Laceration to left forearm PROVOKED INCIDENT,N
24,2016,AUSTRALIA,2016.07.26,Surfing,"No injury. Leg rope severed, knocked off board...",N
25,2016,JAPAN,2016.07.24,Surfing,Lacerations to left leg,N
26,2016,AUSTRALIA,2016.07.23.b,Surfing,Calf bumped but no injury,N
27,2016,BAHAMAS,2016.07.23.a,Fishing,Lacerations to face and right leg,N
28,2016,AUSTRALIA,2016.07.20,Fishing,Laceration to left calf from hooked shark PROV...,N
29,2016,USA,2016.07.17,Fishing,"No injury, shark bit trolling motor",N
...,...,...,...,...,...,...
5803,1830,INDIA,1830.07.02.R,Other,FATAL,Y
5804,1830,INDIA,1830.04.30,Bathing,FATAL,Y
5805,1829,OTHER,1829.07.03.R,Other,Both hands severed,N
5806,1829,OTHER,1829.00.00,Other,FATAL x 2,Y
5807,1828,OTHER,1828.09.28,Other,"Left arm severed 2.5"" from elbow, groin, abdom...",N
5808,1828,USA,1828.00.00,Surfing,FATAL,Y
5809,1827,OTHER,1827.06.00.b,Swimming,The boy's foot was bitten,N
5810,1827,OTHER,1827.06.00.a,Swimming,Davis' leg was severed,N
5811,1827,OTHER,1827.01.11.R,Other,FATAL,Y
5812,1827,EGYPT,1827.00.00,Other,Remains of the men were recovered from a +17-f...,Y
5813,1826,BRAZIL,1826.12.00,Other,Leg severed,N
5814,1826,OTHER,1826.11.00,Bathing,FATAL,Y
5815,1826,CUBA,1826.08.28,Other,FATAL,Y
5816,1825,AUSTRALIA,1825.00.00.b,Swimming,FATAL,Y
5817,1825,AUSTRALIA,1825.00.00,Other,"Arms severed, but he survived",N
5818,1822,OTHER,1822.04.15,Other,FATAL,Y
5819,1819,SPAIN,1819.07.08.R,Other,No injury / No attack,N
5820,1818,OTHER,1818.05.22.R,Other,Probable drowning,NaN
5821,1817,USA,1817.06.24,Swimming,FATAL,Y
5822,1817,INDIA,1817.06.15,Swimming,FATAL,Y
5823,1817,OTHER,1817.05.11,Swimming,FATAL,Y
5824,1817,OTHER,1817.02.22,Diving,Abdomen bitten,N
5825,1816,USA,1816.09.03.R,Swimming,FATAL,Y
5826,1812,OTHER,1812.07.00,Swimming,Both legs injured,N
5827,1811,OTHER,1811.03.01,Fell overboard,FATAL,Y
5828,1807,AUSTRALIA,1807.01.12,Other,Survived,N
5829,1805,USA,1805.09.00,Other,human remains (male) found in sharkÂ’s gut,Y
5830,1804,AUSTRALIA,1804.02.26.R,Other,No injury to occupants,N
5831,1803,AUSTRALIA,1803.03.00,Other,Shark knocked him down & tore clothing of the ...,N
5832,1800,OTHER,1800.00.00,Other,"FATAL, all onboard were killed by sharks",Y

In [9]:
    # Action: There is info about if Injury was Fatal. We will double check with column Fatal (Y/N)\n")
print("Showing unique values for Fatal (Y/N) column")
display(df["Fatal (Y/N)"].unique())

#We will set to UNKNOWN some wrong values in Fatal Y/N column

df['Fatal (Y/N)'] = df['Fatal (Y/N)'].fillna("UNKNOWN")
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace(' N', 'N')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('#VALUE!', 'UNKNOWN')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('N ', 'N')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('n', 'N')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('F', 'UNKNOWN')

display(df["Fatal (Y/N)"].unique())
display(df[(df["Injury"].str.contains("FATAL|fatal|Fatal", na = False)) & (df["Fatal (Y/N)"] == "N")])
print("\n It seems everything is Ok. No false-fatal repors.")

Showing unique values for Fatal (Y/N) column

array(['N', 'Y', nan, 'UNKNOWN', ' N', 'F', 'N ', '#VALUE!', 'n'],
      dtype=object)

array(['N', 'Y', 'UNKNOWN'], dtype=object)

,Year,Country,Case Number,Activity,Injury,Fatal (Y/N)
1784,2000,USA,2000.09.16.a,Other,Non-fatal,N
1801,2000,USA,2000.08.11,Swimming,Non-fatal,N
2441,1989,USA,1989.09.09.a,Surfing,Non-fatal,N
4044,1956,PAPUA NEW GUINEA,1956.00.00.c,Other,"Non-fatal, treated at Misima Hospital",N
4704,1934,OTHER,1934.08.26.R,Swimming,"Reported to be FATAL, but found to be a false...",N
4970,1923,AUSTRALIA,1923.07.02.R,Diving,non-fatal,N
5563,1881,ITALY,1881.00.00.a,Fishing,Non-Fatal,N
5662,1870,AUSTRALIA,1870.00.00,Canoeing,Shark bit canoe in half & bit man. Note: There...,N

 It seems everything is Ok. No false-fatal repors.

In [10]:
df.to_csv('sharkAttackDataFrame.csv')