In [258]:
import pandas as pd

In [259]:
df = pd.read_csv("GSAF5.csv", encoding = "ISO-8859-1")
display(df.head())
print(df.shape)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

(5992, 24)

In [260]:
#First, let's take a look at null values

null_cols = df.isnull().sum()
display(null_cols[null_cols > 0])
print(df.columns)
print("\nAs we can see, the two last columns are completely empty and should be removed.\n")
print("Columns age, time and species are c.50% empty so we will ignore them\n")

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

As we can see, the two last columns are completely empty and should be removed.

Columns age, time and species are c.50% empty so we will ignore them

In [261]:
drop_cols = list(null_cols[null_cols > 3500].index)
df = df.drop(drop_cols, axis=1)

print(df.dtypes)
print("\n1) Date cannot be analyzed because it contains different types of inputs.")
print("3) It seems Case number and href are duplicated, we can drop these columns.\n")

drop_Case = ["Case Number.1", "Case Number.2", "href"]
df = df.drop(drop_Case, axis=1)

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

1) Date cannot be analyzed because it contains different types of inputs.
3) It seems Case number and href are duplicated, we can drop these columns.

In [289]:
col_analysis = ["Year", "Country", "Case Number", "Activity", "Injury", "Fatal (Y/N)"]
df = df.loc[:,col_analysis]
display(df.head())

,Year,Country,Case Number,Activity,Injury,Fatal (Y/N)
0,2016,USA,2016.09.18.c,Surfing,Minor injury to thigh,N
1,2016,USA,2016.09.18.b,Surfing,Lacerations to hands,N
2,2016,USA,2016.09.18.a,Surfing,Lacerations to lower leg,N
3,2016,AUSTRALIA,2016.09.17,Surfing,Struck by fin on chest & leg,N
4,2016,AUSTRALIA,2016.09.15,Surfing,No injury: Knocked off board by shark,N

In [364]:
#We will analyze these columns to further clean the data in which we are interested

# 1) Analyzing Year column

print("Showing unique values for Year column\n")
display(df["Year"].unique())

    # Action: we will drop all values for years before 1800 as they don't seem to be reliable

df = df[df["Year"] >= 1800]
df["Year"].unique()

Showing unique values for Year column

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800])

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800])

In [367]:
 # 2) Analyzing Country column

print("Showing unique values for Country column\n")
display(df["Country"].unique())
    
    
    
    
    # Action: we will check cases by country and show only values for the main countries.
    # The rest will be classified as "Other" in a separated dataframe

df_by_country = df.groupby('Country').Country.count().sort_values(ascending = False)
perc_by_country = round((df_by_country / df_by_country.sum() * 100), 1)
df_by_country = pd.DataFrame({"Cases by country": df_by_country, "% Over total": perc_by_country})
df_by_country.reset_index(inplace=True)
df_by_country.loc[df_by_country['Cases by country'] < 25, ['Country']] = 'Other'
df_by_country = df_by_country.groupby(['Country'])["% Over total", "Cases by country"].sum()
df_by_country.sort_values(by=["% Over total"], inplace= True, ascending = False)
display(df_by_country)

Showing unique values for Country column

array(['USA', 'AUSTRALIA', 'NEW CALEDONIA', 'REUNION', 'BAHAMAS', 'SPAIN',
       'CHINA', 'JAPAN', 'COLUMBIA', 'SOUTH AFRICA', 'EGYPT',
       'NEW ZEALAND', 'INDONESIA', 'FRENCH POLYNESIA', 'CAPE VERDE',
       'Fiji', 'BRAZIL', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'UNITED ARAB EMIRATES', 'ARUBA', 'MOZAMBIQUE', 'THAILAND', 'FIJI',
       'PUERTO RICO', 'ITALY', 'MEXICO', 'ATLANTIC OCEAN', 'GREECE',
       'MAURITIUS', nan, 'ST. MARTIN', 'FRANCE', 'ECUADOR',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'PHILIPPINES', 'NIGERIA', 'TONGA',
       'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'COSTA RICA',
       'UNITED KINGDOM', 'MALAYSIA', 'UNITED ARAB EMIRATES (UAE)',
       'SAMOA', 'AZORES', 'SOLOMON ISLANDS', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'CUBA',
       'ENGLAND', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'LIBYA', 'YEMEN ',
       'MEDITERRANEAN SEA?', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'ALGERIA',
       'Coast of AFRICA', 'TASMAN SEA', 'GHANA'], dtype=object)

                  % Over total  Cases by country
Country
USA                       36.2              2096
AUSTRALIA                 21.7              1260
Other                     11.5               729
SOUTH AFRICA               9.6               557
PAPUA NEW GUINEA           2.2               129
NEW ZEALAND                2.1               124
BRAZIL                     1.8               102
BAHAMAS                    1.6                95
MEXICO                     1.4                80
ITALY                      1.2                67
FIJI                       1.0                59
PHILIPPINES                1.0                59
REUNION                    0.9                55
NEW CALEDONIA              0.9                51
CUBA                       0.7                40
SPAIN                      0.7                38
MOZAMBIQUE                 0.7                42
CROATIA                    0.6                34
JAPAN                      0.6                32
INDIA                      0.6                32
EGYPT                      0.6                36
PANAMA                     0.5                29
SOLOMON ISLANDS            0.5                27
IRAN                       0.4                25

In [370]:
# 3) Analyzing Activity column

print("Showing unique values for Activity column\n")
#print(set(list(df["Activity"])))
display(df_by_activity)

    #First, we will re-classify activities with less than 10 ocurrences as "Other"

df_by_activity.loc[df_by_activity['Activity'].count() > 11, ['Activity']] = 'Other'
display(df_by_activity)

    #First, we will rename fields with following criteria:
    # a) If contains swimming, rename to Swimming
    # b) If contains diving, rename to Diving
    # c) If contains surf, rename to Surfing

    # Action: We will substitute ... by UNKNOWN

#df.loc[df['Activity'] ==  ..., ['Activity']] = 'UNKNOWN'
#display(df["Activity"])

Showing unique values for Activity column

Activity
Surfing                                                                   902
Swimming                                                                  796
Fishing                                                                   405
Spearfishing                                                              321
Bathing                                                                   147
Wading                                                                    141
Diving                                                                    111
Standing                                                                   95
Snorkeling                                                                 76
Scuba diving                                                               73
Body boarding                                                              54
Body surfing                                                               48
Swimming                                                                   46
Treading water                                                             32
Kayaking                                                                   28
Boogie boarding                                                            28
Pearl diving                                                               26
Free diving                                                                24
Fell overboard                                                             21
Windsurfing                                                                18
Boogie Boarding                                                            16
Walking                                                                    15
Shark fishing                                                              15
Fishing                                                                    12
Surf skiing                                                                12
Surf-skiing                                                                12
Floating                                                                   12
Rowing                                                                     12
Canoeing                                                                   11
Surf fishing                                                               11
                                                                         ...
Shipwrecked; adrift on raft for 2 days & 2 nights                           1
Shrimping                                                                   1
Sight-seeing                                                                1
Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board      1
Sinking of the M/V Mindoro during a typhoon                                 1
Sinking of the cargo ship Mark Jason                                        1
Sinking of the dredge World Atlas                                           1
Sinking of the ferryboat      Don Juan                                      1
Sinking of the ferryboat Bongbong 1                                         1
Shark fishing on the Ricardo Astorga                                        1
Shark fishing on the Don AgustÃ­n-VI.                                        1
Shark Fishing                                                               1
Sea Disaster, sinking of the  SS Vestris                                    1
Scuba diving, but swimming on surface                                       1
Scuba diving, hand feeding sharks                                           1
Scuba diving, reportedly also spearfishing                                  1
Scurfing (surfboard being  towed behind a boat)                             1
Sea Disaster : Wreck of the Carrie E. Long                                  1
Sea Disaster Sinking of ferryboat Christina                                 1
Sea Disaster, canoes capsized in storm                                      1
Sea Disaster, sinking of the fishing  launch Mavis                          1
Setting crayfish pots                                                       1
Sea Disaster, sinking of the motorship Wingate                              1
Sea Disaster, wreck of the  SS Norwich City                                 1
Sea disaster : Wreck of the Taiaroa                                         1
Sea disaster, foundering of the cargo vessle M/V Dorolonda                  1
Sea disaster, wreck of the Alfred Watts                                     1
Searching for remains of  Dr. Marais                                        1
Seining for bait, standing in chest-deep water                              1
                                                                            1
Name: Activity, Length: 1449, dtype: int64

KeyError: 'Activity'

In [ ]:
print("Showing unique values for Injury column\n")
print("Action: We will substitute ... by UNKNOWN\n")
display(df["Injury"].unique())
print("Action: There is info about if Injury was Fatal. We will double check with column Fatal (Y/N)\n")
print("Showing unique values for Fatal (Y/N) column\n")
display(df["Fatal (Y/N)"].unique())
print("Action: We will substitute ... by UNKNOWN\n")
display(df[(df["Injury"].str.contains("FATAL", na = False)) & (df["Fatal (Y/N)"] == "N")])
print("\n There is a FATAL case reported as not FATAL, so we will correct this.")


#df.loc[5872, "Fatal (Y/N)"] = "Y"
#display(df[(df["Injury"].str.contains("FATAL", na = False)) & (df["Fatal (Y/N)"] == "N")])